.section-one {
    background-color: rgb(23, 27, 23);
    text-shadow: rgb(49, 26, 49);

}

.section-two {
    background-color: rgb(23, 12, 78);
    text-shadow: rgb(162, 177, 98); 
}

.section-three {
    background-color: rgb(15, 45, 15);
    text-shadow: rgb(49, 26, 49);
}
