@use 'sections';
@import 'variables';

@mixin sections ($color, $border, $size, $font, $textDecoration, $marginTop) {
    color: $color;
    border: $border;
    font-size: $size;
    font-family: $font;
    text-decoration: $textDecoration;
    margin-top: $marginTop;
}

 main {
    #section-one {
    @include sections(#266, 2px solid, large, Courier New, underline, 10px);
    }

    #section-two {
    @include sections(green, 1px solid, medium, Arial, double, 6 px);
    }

    #section-three {
    @include sections(#a40d0d, 3px solid, small, Georgia, overline, 12px);
    }
}